:root {
  /* Colores */
  --primary-color: #3498db; /* Primary color */
  --accent-color: #e74c3c; /* Accent color */
  --background-color: #2c2d2e; /* Dark grey/black background */
  --card-background-color: #34495e; /* Lighter grey for cards */
  --button-hover-color: #3b5998; /* Lighter grey for button hover */
  --text-color: #ecf0f1; /* Light text color */

  /* Tamaños de texto */
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 24px;
  --font-size-xlarge: 32px;

  /* Otros */
  --border-radius: 4px;
  --padding: 8px;
  --margin: 8px;
}

html{
  background: var(--background-color);
  color: #ecf0f1;
}
